/* .feature-card {
    background-color: #1c1c1c;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.bg-secondary{
    background-color: #f8f3e7;
}
.bg-primary
{
    background-color: #f8b84e;
}
.text-primary
{
    color: #f8b84e;
} */
