/* .room-card {
    background-color: #1c1c1c;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.book-now-btn {
    background-color: #e9a83e;
    color: #1c1c1c;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s;
}
.book-now-btn:hover {
    background-color: #e9a83e;
    transform: translateY(-2px);
}
.text-primary
{
    color: #e9a83e;
}
 .bg-secondary{
    background-color: #f8f3e7;
} */