/* @import "tailwindcss";

.nav-link {
    color: #f5eeee;

    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #f8b84e;
  }
  
  .container {
    width: 100%;
    

  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  .bg-primary
{
    background-color: #1c1c1c;
} */